apiVersion: v1
kind: ServiceAccount
metadata:
  name: mon-bot
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: pod-reader
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: read-pods
subjects:
- kind: ServiceAccount
  name: mon-bot
roleRef:
  kind: Role
  name: pod-reader
 apiGroup: rbac.authorization.k8s.io
